.cart {
    @extend .events;

    @include breakpoint($large-up) {
        main {
            @include pad(1);
        }
    }
}

.cart-table {
    margin-bottom: lines(2);

    tbody {
        border-bottom: $rule;

        td {
            vertical-align: top;
        }
    }

    .event-title {
        text-align: left;
    }

    .col-price {
        text-align: right;
    }

    .price {
        font-style: italic;
        @include font-size-times(0.9, 1);

        @include breakpoint($medium-up) {
            @include font-size-times(1.25, 1.5);
        }
    }

    .buttons {
        float: right;

        .btn {
            background: $color-light;
            vertical-align: top;
        }
    }

    .remove {
        display: inline-block;
        width: 1.5em;
    }

    .btn-remove {
        width: 100%;
        padding: 0;
        @include font-size(30px, 1.25);

        &:hover,
        &:focus {
            background-color: $color-danger;
        }
    }

    tfoot {
        td {
            padding: 0;
            line-height: lines(1.25);
            vertical-align: baseline;
            letter-spacing: 0;
            border: 0;
        }

        form {
            margin: 0;
        }

        .price-grandtotal {
            border-top: $rule;
        }

        .price-subtotal,
        .price-tax,
        .price-credit {
            .price {
                font-size: 1.25em;
            }
        }

        .price-grandtotal {
            color: $color-text;
            vertical-align: middle;
        }
    }
}

.cart-attendees {
    form {
        margin: 0;
    }

    .attendee {
        position: relative;
        @include pie-clearfix;
        clear: both;
        @include opacity(1);
        width: 100%;
        margin-bottom: lines(0.25);
        background: rgba(white, 0.25);
        border: $rule;

        .attendee-name {
            float: left;
            padding: 0 lines(0.5);
            line-height: lines(1.25);
        }
    }

    .addNew {
        clear: left;
    }
}

.remove-credit {
    @include font-size-times(1.25, 1);
    color: $color-danger;
}

.gift-cert {
    float: left;
    width: 50%;
}

.complete-order {
    padding: 0 0 lines(2);

    .btn {
        margin-bottom: lines(0.5);
    }
}

.refund-policy {
    clear: both;
    padding: lines(0.25) lines(0.5);
    font-size: 0.9em;
    background: rgba(white, 0.3);

    h2 {
        margin: 0 0 lines(0.25);
        font-family: $alt-face;
        @include font-size-times(1.1, 1);
        font-weight: bold;
        text-align: left;
        color: $color-muted;
    }

    p {
        margin: 0;
    }
}

#email-form {
    width: 15em;
    text-align: center;

    input {
        text-align: center;
    }
}