body.home {
	-webkit-background-size: cover;
	background-size: cover;
}
.storefront-product-pagination {
	display: none !important;	
}

body.page {
	padding-left: inherit;
	padding-right: inherit;
}

h3 time {
	font-size: 12px !important;	
}

.tribe-events-calendar-month__day {
    border-color: #bdbdbd !important;
}

.tribe-events-calendar-month__body {
    border-top-color: #bdbdbd !important;
}

.tribe-events-calendar-month__week {
    border-left: 1px solid #bdbdbd !important;
}

.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
	background-color: #4c73aa !important;	
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, .tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: #4c73aa !important;	
}

.tribe-events .tribe-events-c-ical__link:active, .tribe-events .tribe-events-c-ical__link:focus, .tribe-events .tribe-events-c-ical__link:hover {
	border-color: #4c73aa !important;
	background-color: #4c73aa !important;	
}