body.home {
	-webkit-background-size: cover;
	background-size: cover;
}
.storefront-product-pagination {
	display: none !important;	
}

body.page {
	padding-left: inherit;
	padding-right: inherit;
}

.homeLinks {
	li.hide {
		display: none !important;
	}
}

h3 time {
	font-size: 12px !important;	
}

.tribe-events-calendar-month__day {
    border-color: #bdbdbd !important;
}

.tribe-events-calendar-month__body {
    border-top-color: #bdbdbd !important;
}

.tribe-events-calendar-month__week {
    border-left: 1px solid #bdbdbd !important;
}

.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
	background-color: #4c73aa !important;	
	&:hover {
		background: #000 !important;
	}
}

.tribe-tickets__sale_price {
	font-size: 16px;	
}

#comments {
	display: none !important;	
}

.big-container {
	padding: 40px;	
}

.single-ticket-page {
	header.entry-header {
		display: none;	
		&.show-this {
			display: block;	
		}
	}
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, .tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
	color: #4c73aa !important;	
}

.tribe-events .tribe-events-c-ical__link:active, .tribe-events .tribe-events-c-ical__link:focus, .tribe-events .tribe-events-c-ical__link:hover {
	border-color: #4c73aa !important;
	background-color: #4c73aa !important;	
}

.tribe-common .tribe-common-form-control-text__input.ticket-meta {
	padding-top: 0;	
	padding-bottom: 0;
	padding-left: 10px;	
	border: 1px solid #bdbdbd;
}

li.current_page_item a {
	color: #4c73aa;	
}

.tribe-events-single ul.tribe-related-events, .tribe-events-related-events-title {
	display: none;	
}

h1.tribe-events-single-event-title {
	width: 100%;	
	margin-top: 20px !important;	
}

.tribe-events-single-section {
	width: 100%;	
}
.single-content {
	padding-right: 0;
	width: 100%;		
}

form#tribe-tickets {
	width: 100%;	
	float: left;
	max-width: none;	
	padding: 0;	
	.tribe-tickets__title {
		display: none;	
	}
}

#tribe-events-content {
	max-width: 640px;	
	float: none;	
	margin-left: auto;	
	margin-right: auto;	
}
h1.tribe-events-single-event-title {
	margin-bottom: 30px !important;	
	display: block;	
	width: 100%;	
	float: left;
}

.tribe-common.tribe-tickets {
	background-color: transparent;	
	border: none;	
}

.entry .entry-content .tribe-common .tribe-tickets__item, .tribe-common .tribe-tickets__item, .entry .entry-content .tribe-common .tribe-tickets__footer, .tribe-common .tribe-tickets__footer {
	border-color: #bdbdbd;
}
html {
	-webkit-background-size: 100%;
	background-size: 100%;	
}

.header-photo img {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
	margin-bottom: 30px;	
}

body.single-team, body.single-shopping-lists {
	background: none !important;	
	padding-top: 63px !important;
	background: #e5e7e7 !important;
    background: -webkit-radial-gradient(#e5e7e7,#cbd9e1)!important;
    background: radial-gradient(#e5e7e7,#cbd9e1)!important;
}

.woocommerce-error, .tribe-events-notices {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
}

.tribe-events .tribe-events-c-search__input-control--keyword .tribe-events-c-search__input {
	background-color: transparent;	
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-header--has-event-search .tribe-events-header__events-bar {
	background-color: transparent;	
	border: 1px solid #bdbdbd;	
}

.tribe-events .tribe-events-c-events-bar__search-filters-container, .tribe-events .tribe-events-c-view-selector__content {
	background-color: transparent !important;	
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 30px !important;	
}

.tribe-events .tribe-events-c-ical__link:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%234c73aa' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E") !important;
}

.tribe-events .tribe-events-c-ical__link {
	color: #4c73aa !important;
	border-color: #4c73aa !important;	
	&:hover {
		color: #fff !important;	
		border-color: #4c73aa !important;	
		&:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cpath d='M6 1v10m5-5H1' fill='none' fill-rule='evenodd' stroke='%23ffffff' stroke-linecap='square' stroke-width='1.5'/%3E%3C/svg%3E") !important;
}

	}
}

.tribe-events-calendar-month__calendar-event-tooltip-template {
	a:hover {
		color: #4c73aa !important;	
	}
}

#home-main.event-page .page {
	padding-bottom: 0;	
	.page-body {
		padding-bottom: 0;	
	}
}

.storefront-sticky-add-to-cart {
	display: none;	
}

.woocommerce-product-gallery--without-images {
	display: none;	
}

.product_meta {
	display: none;	
}

.summary {
	.product_title {
		display: none;	
	}
	.price {
		display: none;	
	}
}

input#credit_called {
	width: auto;	
}

.storefront-full-width-content.single-product div.product .summary {
	margin-top: 20px;	
	float: left;
	br {
		display: none;	
	}
	.quantity {
		display: none;	
	}
}

.single-product div.product .variations_button {
	text-align: center;	
}

#call_for_credit {
	.wc-sc-input  {
		text-align: center;	
		min-width: 280px;	
	}
}

.single-product div.product table.variations th, .single-product div.product table.variations td {
	text-align: center;	
}

.wc-block-grid__product-image {
	display: none !important;	
}

.theme-twentytwenty .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-4-columns .wc-block-grid__product {
	max-width: 50%;	
}

input#credit_called {
	display: inline-block;	
	margin-top: 10px;	
}

.wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
	padding-top: 20px;	
	background: #4c73aa;
	color: #fff;	
}

.added_to_cart.wc-forward {
	padding-top: 20px;	
}

.storefront-full-width-content.single-product div.product {
	.page-body {
		padding: 0;	
		margin: 0;	
		float: left;
		width: 60%;	
		width: 100%;	
// 		padding-right: 40px;	
	}
	.summary {
		width: 40%;	
		width: 100%;	
		float: left;
		margin: 0;	
		padding: 0;
		text-align: center;	
		
	}
}

.grid {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.so-text {
	display: none;
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
	position: absolute;	
	top: 40%;	
	left: 50%;	
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-transform: uppercase;	
	color: #fff;
	font-size: 20px;	
}

.so-thumb {
	position: relative;	
	img {
		opacity: .6;	
	}
	.so-text {
		display: block;	
	}
}

#post-navigation {
	display: none;	
}

.text-center {
	text-align: center;	
}

.grid-item {
	position: relative;	
	width: 300px;	
	text-align: center;	
	margin: 10px;
	&.hide {
		display: none !important;	
	}
}

.single-product div.product table.variations select {
	max-width: 100% !important;	
}

.single-product div.product table.variations .value {
	margin-bottom: 0 !important;	
}

.single-product div.product form.cart {
	max-width: 360px;	
	display: inline-block;	
	text-align: right;
	float: none;	
}

.woocommerce-tabs {
	display: none;	
}

.woocommerce-table--order-details {
	background-color: transparent;	
}

table:not( .has-background ) tbody td {
	background-color: transparent;	
}

.tribe-common a.tribe-common-c-btn-link, .tribe-common button.tribe-common-c-btn-link, .tribe-common input[type=button].tribe-common-c-btn-link, .tribe-common input[type=submit].tribe-common-c-btn-link {
		color: #4c73aa !important;	
}

.tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket.tribe-ticket-item__has-focus {
		border-left-color: #4c73aa !important;
}

.tribe-common a.tribe-common-c-btn-link, .tribe-common button.tribe-common-c-btn-link, .tribe-common input[type=button].tribe-common-c-btn-link, .tribe-common input[type=submit].tribe-common-c-btn-link {
	color: #4c73aa;
	font-weight: 700;	
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
}

.entry .entry-content .tribe-common .tribe-tickets__attendee__fields__footer_checkout-button, .entry .entry-content .tribe-common .tribe-tickets__buy, .tribe-common .tribe-tickets__attendee__fields__footer_checkout-button, .tribe-common .tribe-tickets__buy {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
}
.tribe-common--breakpoint-medium.tribe-common .tribe-common-form-control-text__input, .tribe-common .tribe-common-form-control-text__input {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button {
	background: #4c73aa;
	color: #fff;	
	&:hover {
		background: #791919;
		color: #fff;	
	}
}

.widget_search form::before, .widget_product_search form::before {
	top: 4px;	
}

.fourohfour-columns-2 {
	display: none;	
}

.error-404 {
	max-width: 600px;
    margin: 0 auto;
}

table:not( .has-background ) th, table:not( .has-background ) tbody tr:nth-child(2n) td, fieldset, fieldset legend {
	background-color: transparent;	
}

table.cart td.product-remove, table.cart td.actions {
	border-top-color: transparent;	
}

.wc-proceed-to-checkout .button.checkout-button {
	font-size: 1.1em !important;	
	line-height: 1.4 !important;	
}

.tribe-tickets__registration__title {
	h2 {
			text-align: left;
	}
}

.tribe-common .tribe-common-h5, .tribe-common .tribe-common-h6, .tribe-common .tribe-common-h2 {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
	font-weight: 700;	
}

.tribe-common .tribe-common-b2 {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
	font-size: 15px;	
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
	background-color: transparent;	
	border-color: #bdbdbd;	
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;	
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__registration__grid {
	border-top-color: #bdbdbd !important;
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__item__attendee__fields .tribe-ticket {
	border: 1px solid #bdbdbd;	
	padding: 0 10px 10px 10px;	
	margin-bottom: 10px;	
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0 !important;	
	border: none!important;	
	margin-top: 0!important;	
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart a.tribe-tickets__footer__back-link {
	margin-bottom: 5px;	
	padding-bottom: 5px;	
}

.tribe-checkout-backlinks {
	a {
		display: block;	
		font-size: 14px;	
		margin-bottom: 10px;	
	}
}

#payment .place-order .button {
	font-size: 	inherit;
}

#order_review {
	background-color: transparent;	
}

body.page-tribe-attendee-registration footer.entry-header, body.page-tribe-attendee-registration header.entry-header, body.page-tribe-attendee-registration header.entry-meta, body.page-tribe-attendee-registration header.page-header, body.page-tribe-attendee-registration span.edit-link {
	display: block !important;	
}

h1.tribe-tickets__registration__page-title {
	display: none;	
}

.page-body {
	a.wc-backward {
		line-height: 34px;	
	}
}

.count-col {
	width: 33.333%;	
	float: left;
	padding: 15px 20px;
	text-align: center;	
	margin-bottom: 30px;
	display: block;		
	h1 {
		font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
		font-size: 2.4em;	
		margin-bottom: 20px;	
	}
}

@import 'theme';

.button.added_to_cart:focus, .button.wc-forward:focus, a:focus, input:focus, textarea:focus, button:focus, a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
	outline: none !important;
}

.tribe-events {
	 .tribe-events-c-small-cta {
		 .tribe-events-c-small-cta__link {
			border-color: #4c73aa !important;
			&:hover {
				color: #4c73aa !important;	
			}
		 }
	 }
}

.tribe-events .tribe-events-calendar-month__day-cell--selected, .tribe-events .tribe-events-calendar-month__day-cell--selected:focus, .tribe-events .tribe-events-calendar-month__day-cell--selected:hover {
	background-color: #4c73aa !important;	
	color: #fff !important;	
}

.tribe-events .tribe-events-header {
	background-color: transparent;	
}

.tribe-common .tribe-common-h3 {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif !important	;
	font-weight: 700 !important	;	
}

.tribe-events .tribe-events-c-search__input-control--keyword .tribe-events-c-search__input {    
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18.711l-6.044-6.044a7.782 7.782 0 0 0 1.688-4.845c0-2.089-.822-4.044-2.288-5.533C11.866.822 9.91 0 7.822 0S3.778.822 2.29 2.289A7.801 7.801 0 0 0 0 7.822c0 2.09.822 4.045 2.289 5.534a7.801 7.801 0 0 0 5.533 2.288c1.778 0 3.467-.6 4.845-1.688L18.71 20 20 18.711zM3.578 12.067c-2.334-2.334-2.334-6.156 0-8.49a5.968 5.968 0 0 1 4.244-1.755c1.6 0 3.111.622 4.245 1.756 2.333 2.333 2.333 6.155 0 8.489a5.968 5.968 0 0 1-4.245 1.755c-1.6 0-3.11-.622-4.244-1.755z' fill='%234c73aa'/%3E%3C/svg%3E") !important;
    background-repeat: no-repeat !important;	
}

.flexible-checkout-fields-before_customer_details  {
	margin-bottom: 30px;	
	p.form-row {
		width: 50%;	
		float: left;
		padding-right: 30px;	
	}
}

.entry .entry-content .tribe-common .tribe-tickets__item__quantity__add, .entry .entry-content .tribe-common .tribe-tickets__item__quantity__remove, .tribe-common .tribe-tickets__item__quantity__add, .tribe-common .tribe-tickets__item__quantity__remove {
	color: #bdbdbd;
}

.gift-certificate.sc_info_box {
	display: none;	
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-search__button {
	font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}

.tribe-common a.tribe-common-c-btn--small, .tribe-common button.tribe-common-c-btn--small, .tribe-common input[type=button].tribe-common-c-btn--small, .tribe-common input[type=submit].tribe-common-c-btn--small {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;	
}

.entry .entry-content .tribe-common .tribe-tickets__item__quantity__add, .entry .entry-content .tribe-common .tribe-tickets__item__quantity__remove, .tribe-common .tribe-tickets__item__quantity__add, .tribe-common .tribe-tickets__item__quantity__remove {
	color: #4c73aa;
}

.hentry .entry-content {
	a {
		text-decoration: none;	
	}
}

.grid {
	margin-bottom: 50px;	
}

.single-ticket-page  .hentry {
	margin-bottom: 30px;	
}

.single-ticket-page button.xoo-wl-action-btn {
	float: right;	
}

button.xoo-wl-open-form-btn {
	float: right;	
}

.tribe-checkout-backlinks {
	width: 41.1764705882%;	
	float: right;	
	a {
		color: #4c73aa;
		&:hover {
			color: #000;
		}
	}
}

.tribe-common .tribe-common-b2.tribe-tickets__item__extra__price {
	font-size: 1.2em;	
}

.events-list #tribe-events-footer, .single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer {
	border-top-color: #ebebeb !important;	
}
.entry .entry-content .tribe-common .tribe-tickets-quantity, .tribe-common .tribe-tickets-quantity {
	margin-top: 8px;	
}

.tribe-events-nav-pagination {
	display: none;	
}

.tribe-link-view-attendee {
	display: none;	
}

.tribe-events-c-small-cta__price {
	display: none !important;	
}

.stripe-amex-icon {
	display: none !important;	
}

table.cart td.actions input {
	width: 250px !important;	
}

.woocommerce-cart-form {
	padding-left: 30px;	
	padding-right: 30px;	
}

body.page-tribe-attendee-registration .tribe-common .tribe-tickets__mini-cart {
	padding: 20px;		
}

form.checkout {
	padding-left: 30px;	
	padding-right: 30px;	
}

.entry-taxonomy {
	display: none;	
}

.page-template {
	.hentry .entry-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		h2.has-text-align-center {
			width: 100%;	
		}
		div.wp-block-image:not(.block-editor-media-placeholder) .alignleft {
			margin: 10px;	
		}
		figcaption {
			a {
				font-family: "brandon-grotesque","Helvetica Neue",Arial,sans-serif;
				font-size: 20px;	
				text-decoration: none;	
				font-style: normal;
			}
		}
	}
}

.single-tribe_events {
	.tribe-events-single-event-description a, .tribe-events-event-url a, .tribe-venue-url a, .tribe-organizer-url a, .tribe-events-pro .tribe-events-pro-organizer__meta-website a, .tribe-block__organizer__website a, .tribe-events-pro .tribe-events-pro-venue__meta-website a, .tribe-block__venue__website a, .tribe_events p a {
		color: #4c73aa;
		&:hover {
			color: #791919;	
		}
	}	
}

.attendee-list-link {
	width: 100%;		
}

.wp-die-message, .tribe-events-cal-links {
	display: none !important;	
}

a.wc-block-grid__product-link {
	cursor: default !important;
	pointer-events: none !important;
}

.woocommerce-account-fields .create-account {
	display: none;	
}

.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
	background: rgba(255,255,255, .2) !important;
	border: 1px solid #a37c22;
	color: #000;	
	padding-bottom: .7em;	
	p {
		color: #000;	
	}
	a {
		color: #a37c22;
		&:hover {
			color: #791919;
		}
	}
}

@media screen and (max-width: 856px) {
	.tribe-events-calendar-month__week {
		border: none !important;	
	}
	.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date, .tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
		color: #fff !important;	
	}
	.tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
	background-color: #4c73aa !important;	
	}
	.tribe-events .tribe-events-header, .tribe-events .tribe-events-c-events-bar {
		background-color: transparent !important;	
	}
	.tribe-events .tribe-events-c-events-bar__search-filters-container, .tribe-events .tribe-events-c-view-selector__content {
		background: #fff !important;	
	}
	.tribe-events .tribe-events-c-top-bar__datepicker {
	}
	.single-tribe_events .tribe-events-schedule {
		padding: 0;	
		background-color: transparent;	
		border: none;	
	}
	#tribe-events-pg-template {
		padding: 0;	
	}
	#tribe-events-footer:after, #tribe-events-footer:before, #tribe-events-header:after, #tribe-events-header:before {
		display: none !important;	
	}
	.tribe-events-schedule {
		width: 100%;	
		margin-bottom: 10px;	
	}
	.storefront-full-width-content.single-product div.product {
		.page-body {
			width: 100%;	
			padding-right: 0;	
		}
		.summary {
			width: 100%;	
		}
	}
	.theme-twentytwenty .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-4-columns .wc-block-grid__product {
		max-width: 100%;	
	}
	.page {
		padding-bottom: 60px !important;	
	}
}

@media print {
	body {
		padding: 0 !important;
	}
	table {
		font-size: 11pt !important;	
	}
	header, footer {
		display: none !important;	
	}
}